h1{
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    border: 5px dotted rebeccapurple ;
}

div{
    width: 250px;
    height: 250px;
    background-color: violet;
    border-width: 5px;
    border-style: solid;
    border-color: cornflowerblue;
    text-align: center;

}