.parent{
    width: 800px;
}

*{
    box-sizing: border-box;
}
.pra{
    border: 10px solid red;
    width: 300px;
    height: 300px;
    padding:25px;
    margin: 40px;
    border-radius: 100%;
    background: #2c2222;
    overflow: hidden;
}
img{
    width: 100%;
}
